body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container, .container-header {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

img {
    display: block;
}

/* top line */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.nav:hover,
.nav:focus {
    color: #404BBF;
}

.address {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
}

.address-item {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

/* title and button */
.title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding: 188px 0;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    border-radius: 4px;
}

.button-item {
    display: block;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    border: none;
    padding-bottom: 188px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


.background-title {
    background-color: #2E2F42;
}

/* about */
.about {
    padding: 120px 0;
}

.about-list {
    width: calc((100% - 72px) / 4);
}

.about-title, .team-title, .portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-item, .title-item-team,
.title-item-portfolio {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about-contant, .about-contant-team,
.about-contant-portfolio {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.about-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Our team */

.background-team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
    display: block;
    margin-bottom: 120px;
}

.team-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.images {
    display: flex;
}

.team-title {
    display: block;
    padding-top: 120px;
    padding-bottom: 72px;
}

.title-item-team {
    text-align: center;
    padding-top: 32px;
    margin: 0;
}

.about-contant-team {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 32px;
}

/* portfolio */
.portfolio-title {
    display: block;
    padding-top: 120px;
    padding-bottom: 72px;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.title-item-portfolio {
    padding-top: 32px;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.about-contant-portfolio {
    padding-top: 8px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding-bottom: 32px;
    margin-bottom: 48px;
}

/* footer */
.background-footer {
    background-color: #2E2F42;
    margin-top: 120px;
}

.logo-web-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    padding-top: 101.5px;
    padding-bottom: 16px;
    justify-content: flex-start;
}

.logo-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-bottom: 100px;
}